## Raminderpreet Singh Khaira
### 30/06/2022

One of the things I took a notice of is the fact that team go through different names regularly as sponships change. So a team can be named "Sky Procycling" from 2011-2013, and then change to "Team Sky" from 2014-2019, and then "Team Ineos" from 2019-2020. All the same teams effectively with similar strategies, management, and collection of data and experience, but filed under different names in our classification model.

In this Notebook I investigate into the names of the 2021 teams, and change the previous names appropriately to the most current team name. This should improve the number of wins per team, and won't leave a newely named team as fresh first time team.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('TDF_GC_with_rider_metrics.csv')

In [4]:
df.head()

,Rank,Prev_rank,Rider_name,Team_name,Points,Time,Year,Weight(kg),Height(m),Age
0,1,1,POGAČAR Tadej,UAE-Team Emirates,500.0,82:56:36,2021,66.0,1.76,23
1,1,1,POGAČAR Tadej,UAE-Team Emirates,500.0,87:20:05,2020,66.0,1.76,22
2,2,2,VINGEGAARD Jonas,Team Jumbo-Visma,380.0,5:205:20,2021,60.0,1.75,25
3,3,3,CARAPAZ Richard,INEOS Grenadiers,340.0,7:037:03,2021,62.0,1.70,28
4,13,13,CARAPAZ Richard,INEOS Grenadiers,170.0,25:5325:53,2020,62.0,1.70,27

In [5]:
df.shape

(1741, 10)

In [6]:
df.Team_name.nunique()

103

In [7]:
df.Team_name.value_counts()

Movistar Team                 81
AG2R La Mondiale              76
Cofidis, Solutions Crédits    67
Astana Pro Team               64
BMC Racing Team               63
                              ..
RadioShack                     5
NTT Pro Cycling                5
Team DSM                       5
Team Qhubeka NextHash          5
Team BikeExchange              5
Name: Team_name, Length: 103, dtype: int64

In [8]:
df[df.Year == 2021].Team_name.value_counts()

UAE-Team Emirates                         8
EF Education - Nippo                      8
Cofidis, Solutions Crédits                8
Deceuninck - Quick Step                   8
Team TotalEnergies                        7
INEOS Grenadiers                          7
Bahrain - Victorious                      7
Trek - Segafredo                          7
AG2R Citroën Team                         7
BORA - hansgrohe                          7
Israel Start-Up Nation                    7
Astana - Premier Tech                     6
Intermarché - Wanty - Gobert Matériaux    6
B&B Hotels p/b KTM                        6
Alpecin-Fenix                             6
Movistar Team                             6
Team BikeExchange                         5
Team DSM                                  5
Team Qhubeka NextHash                     5
Lotto Soudal                              4
Team Jumbo-Visma                          4
Groupama - FDJ                            4
Team Arkéa Samsic                         3
Name: Team_name, dtype: int64

In [9]:
df.Year.min()

2011

- 'UAE-Team Emirates' = ['Lampre–ISD','Lampre–Merida','UAE Abu Dhabi']
- 'Deceuninck - Quick Step' = ['Quick-Step','Omega Pharma–Quick-Step','Etixx–Quick-Step','Quick-Step Floors']
- 'EF Education - Nippo' = ['	Team Garmin−Cervélo','Team Garmin−Barracuda','Garmin−Sharp','Team Cannondale−Garmin','Cannondale Pro Cycling Team','Cannondale–Drapac Pro Cycling Team','Team EF Education First–Drapac p/b Cannondale','EF Education First Pro Cycling','EF Pro Cycling']
- 'Cofidis, Solutions Crédits' = Same name
- 'BORA - hansgrohe' = ['Team NetApp','Team NetApp–Endura','Bora–Argon 18']
- 'Bahrain - Victorious' = ['Bahrain–Merida','Bahrain–McLaren']
- 'Trek - Segafredo' = ['Leopard Trek','RadioShack–Nissan','RadioShack–Leopard','Trek Factory Racing']
- 'INEOS Grenadiers' = ['Sky Procycling','Team Sky','Team Ineos']
- 'AG2R Citroën Team' = ['Ag2r–La Mondiale','AG2R La Mondiale']
- 'Team TotalEnergies' = ['Team Europcar','Direct Énergie','Total Direct Énergie']
- 'Israel Start-Up Nation' = ['Cycling Academy Team','Israel Cycling Academy']
- 'Intermarché - Wanty - Gobert Matériaux' = ["Veranda's Willems–Accent",'Accent.jobs–Willems Verandas','Accent Jobs–Wanty','Wanty–Groupe Gobert','Wanty–Gobert','Circus–Wanty Gobert']
- 'Astana - Premier Tech' = ['Astana Pro Team']
- 'Alpecin-Fenix' = ['BKCP–Powerplus','BKCP–Corendon','Beobank–Corendon','Corendon–Circus']
- 'B&B Hotels p/b KTM' = ['Vital Concept','Vital Concept–B&B Hotels','B&B Hotels–Vital Concept']
- 'Movistar Team' = Same name since 2011
- 'Team DSM' = ['Skil Shimano','Project 1t4i','Argos–Shimano','Giant–Shimano','Team Giant–Alpecin','Team Sunweb']
- 'Team Qhubeka NextHash' = ['MTN–Qhubeka','Team Dimension Data for Qhubeka','NTT Pro Cycling','Team Qhubeka Assos']
- 'Team BikeExchange'
- 'Groupama - FDJ' = ['FDJ','FDJ–BigMat','FDJ.fr']
- 'Lotto Soudal' = ['Omega Pharma–Lotto','Lotto–Belisol']
- 'Team Jumbo-Visma' = ['Rabobank','Blanco','Belkin','LottoNL–Jumbo','Team LottoNL-Jumbo']
- 'Team Arkéa Samsic' = ['Bretagne–Schuller','Bretagne–Séché Environnement','Fortuneo–Vital Concept','Fortuneo–Oscaro','Fortuneo–Samsic']

In [10]:
list_1 = ('UAE-Team Emirates','Lampre - ISD','Lampre - Merida','UAE Team Emirates',
          'Team Jumbo-Visma','Rabobank Cycling Team','Belkin-Pro Cycling Team','Team LottoNL-Jumbo',
          'INEOS Grenadiers','Sky Procycling','Team Sky','Team INEOS',
          'AG2R Citroën Team','AG2R La Mondiale',
          'BORA - hansgrohe','Team NetApp – Endura','Bora - Argon 18',
          'Movistar Team',
          'Astana - Premier Tech','Astana Pro Team','Pro Team Astana',
          'Cofidis, Solutions Crédits','Cofidis, le Crédit en Ligne',
          'Bahrain - Victorious','Bahrain Merida','Bahrain - McLaren','Bahrain Merida Pro Cycling Team',
          'EF Education - Nippo','Team Garmin - Cervélo','Garmin Sharp','Team Cannondale - Garmin ','Cannondale Pro Cycling Team','Cannondale-Drapac Pro Cycling Team','Team EF Education First-Drapac p/b Cannondale','EF Education First','EF Pro Cycling',
          'Groupama - FDJ','FDJ','FDJ - BigMat','FDJ.fr ',
          'Deceuninck - Quick Step','Quickstep Cycling Team','Omega Pharma - Quick-Step','Etixx - Quick Step','Quick-Step Floors',
          'Team BikeExchange','ORICA-Scott','Mitchelton-Scott','ORICA-BikeExchange','Orica GreenEDGE',
          'Intermarché - Wanty - Gobert Matériaux','Wanty - Gobert Cycling Team','Wanty - Groupe Gobert',
          'Trek - Segafredo','Leopard Trek','RadioShack - Nissan','RadioShack - Leopard','Trek Factory Racing ','RadioShack',
          'Team Qhubeka NextHash','NTT Pro Cycling','Team Dimension Data','MTN - Qhubeka',
          'B&B Hotels p/b KTM','B&B Hotels - Vital Concept p/b KTM',
          'Team Arkéa Samsic','Bretagne - Séché Environnement','Fortuneo - Vital Concept','Fortuneo - Oscaro','Team Fortuneo - Samsic',
          'Alpecin-Fenix',
          'Israel Start-Up Nation',
          'Team DSM','Team Sunweb','Team Giant - Alpecin','Team Giant - Shimano','Argos - Shimano','Team Argos - Shimano',
          'Team TotalEnergies','Team Europcar','Direct Energie','Team Total Direct Energie',
          'Lotto Soudal','Omega Pharma-Lotto ','Lotto Belisol ', 'Lotto Belisol Team',
          
          'Vacansoleil - DCM',
          'Euskaltel - Euskadi',
          'Tinkoff','Tinkoff - Saxo','Team Saxo Bank - Tinkoff Bank','Team Saxo - Tinkoff','Saxo Bank - Sungard',
          'CCC Team','BMC Racing Team',
          'Team Katusha Alpecin','Team Katusha ',
          'Saur - Sojasun','Sojasun',
          'IAM Cycling',
          'Cannondale ','Liquigas - Cannondale',
          'HTC - High Road')

In [11]:
df[~df.Team_name.isin(list_1)]

Empty DataFrame
Columns: [Rank, Prev_rank, Rider_name, Team_name, Points, Time, Year, Weight(kg), Height(m), Age]
Index: []

In [12]:
list_2 = df.Team_name.tolist()

In [13]:
c=[]
for num in list_1:
    if num not in list_2:
        c.append(num)
print(c)

[]

In [14]:
df.iloc[59,3]

'Trek Factory Racing '

In [15]:
df.iloc[150,3]

'Team Cannondale - Garmin '

In [16]:
df.iloc[370,3]

'Omega Pharma-Lotto '

In [17]:
df.iloc[439,3]

'Lotto Belisol '

In [18]:
df.iloc[448,3]

'Team Katusha '

In [19]:
df.iloc[550,3]

'FDJ.fr '

In [20]:
df.iloc[654,3]

'Cannondale '

In [21]:
df.iloc[1371,3]

'Team Garmin - Cervélo'

In [22]:
len(list_1) == df.Team_name.nunique()

True

## Convert previous team names to most current name
### Additional classes: 
- new_team for teams that have no history in the TDF
- past team for teams that are not competing in the latest Tour De France, but have history

In [23]:
df[df.Year == 2021].Team_name.unique()

array(['UAE-Team Emirates', 'Team Jumbo-Visma', 'INEOS Grenadiers',
       'AG2R Citroën Team', 'BORA - hansgrohe', 'Movistar Team',
       'Astana - Premier Tech', 'Cofidis, Solutions Crédits',
       'Bahrain - Victorious', 'EF Education - Nippo', 'Groupama - FDJ',
       'Deceuninck - Quick Step', 'Team BikeExchange',
       'Intermarché - Wanty - Gobert Matériaux', 'Trek - Segafredo',
       'Team Qhubeka NextHash', 'B&B Hotels p/b KTM', 'Team Arkéa Samsic',
       'Alpecin-Fenix', 'Israel Start-Up Nation', 'Team DSM',
       'Team TotalEnergies', 'Lotto Soudal'], dtype=object)

UAE = ('UAE-Team Emirates','Lampre - ISD','Lampre - Merida','UAE Team Emirates')
TJV = ('Team Jumbo-Visma','Rabobank Cycling Team','Belkin-Pro Cycling Team','Team LottoNL-Jumbo')
IGD = ('INEOS Grenadiers','Sky Procycling','Team Sky','Team INEOS')
ACT = ('AG2R Citroën Team','AG2R La Mondiale')
BOR = ('BORA - hansgrohe','Team NetApp – Endura','Bora - Argon 18')
MOV = ('Movistar Team')
APT = ('Astana - Premier Tech','Astana Pro Team','Pro Team Astana')
CSC = ('Cofidis, Solutions Crédits','Cofidis, le Crédit en Ligne')
BHV = ('Bahrain - Victorious','Bahrain Merida','Bahrain - McLaren','Bahrain Merida Pro Cycling Team')
EFN = ('EF Education - Nippo','Team Garmin - Cervélo','Garmin Sharp','Team Cannondale - Garmin ','Cannondale Pro Cycling Team','Cannondale-Drapac Pro Cycling Team','Team EF Education First-Drapac p/b Cannondale','EF Education First','EF Pro Cycling')
GFDJ = ('Groupama - FDJ','FDJ','FDJ - BigMat','FDJ.fr ')
DQS = ('Deceuninck - Quick Step','Quickstep Cycling Team','Omega Pharma - Quick-Step','Etixx - Quick Step','Quick-Step Floors')
TBE = ('Team BikeExchange','ORICA-Scott','Mitchelton-Scott','ORICA-BikeExchange','Orica GreenEDGE')
IWGM = ('Intermarché - Wanty - Gobert Matériaux','Wanty - Gobert Cycling Team','Wanty - Groupe Gobert')
TSF = ('Trek - Segafredo','Leopard Trek','RadioShack - Nissan','RadioShack - Leopard','Trek Factory Racing ','RadioShack')
TQNH = ('Team Qhubeka NextHash','NTT Pro Cycling','Team Dimension Data','MTN - Qhubeka')
KTM = ('B&B Hotels p/b KTM','B&B Hotels - Vital Concept p/b KTM')
TAS = ('Team Arkéa Samsic','Bretagne - Séché Environnement','Fortuneo - Vital Concept','Fortuneo - Oscaro','Team Fortuneo - Samsic')
ALP = ('Alpecin-Fenix')
ISN = ('Israel Start-Up Nation')
TDSM = ('Team DSM','Team Sunweb','Team Giant - Alpecin','Team Giant - Shimano','Argos - Shimano','Team Argos - Shimano')
TTE = ('Team TotalEnergies','Team Europcar','Direct Energie','Team Total Direct Energie')
LOT = ('Lotto Soudal','Omega Pharma-Lotto ','Lotto Belisol ', 'Lotto Belisol Team')
OLD = ('Vacansoleil - DCM','Tinkoff','Tinkoff - Saxo','Team Saxo Bank - Tinkoff Bank','Team Saxo - Tinkoff','Saxo Bank - Sungard','BMC Racing Team','CCC Team','Team Katusha Alpecin','Team Katusha ','Saur - Sojasun','Sojasun','IAM Cycling','Cannondale ','Liquigas - Cannondale','HTC - High Road')

In [24]:
team_classes = ('UAE-Team Emirates','Team Jumbo-Visma','INEOS Grenadiers','AG2R Citroën Team','BORA - hansgrohe','Movistar Team','Astana - Premier Tech','Cofidis, Solutions Crédits','Bahrain - Victorious','EF Education - Nippo','Groupama - FDJ','Deceuninck - Quick Step','Team BikeExchange','Intermarché - Wanty - Gobert Matériaux','Trek - Segafredo','Team Qhubeka NextHash','B&B Hotels p/b KTM','Team Arkéa Samsic','Alpecin-Fenix','Israel Start-Up Nation','Team DSM','Team TotalEnergies','Lotto Soudal')

In [25]:
teams_dict = {
    'UAE-Team Emirates':['UAE-Team Emirates','Lampre - ISD','Lampre - Merida','UAE Team Emirates'],
    'Team Jumbo-Visma':['Team Jumbo-Visma','Rabobank Cycling Team','Belkin-Pro Cycling Team','Team LottoNL-Jumbo'],
    'INEOS Grenadiers':['INEOS Grenadiers','Sky Procycling','Team Sky','Team INEOS'],
    'AG2R Citroën Team':['AG2R Citroën Team','AG2R La Mondiale'],
    'BORA - hansgrohe':['BORA - hansgrohe','Team NetApp – Endura','Bora - Argon 18'],
    'Movistar Team':['Movistar Team'],
    'Astana - Premier Tech':['Astana - Premier Tech','Astana Pro Team','Pro Team Astana'],
    'Cofidis, Solutions Crédits':['Cofidis, Solutions Crédits','Cofidis, le Crédit en Ligne'],
    'Bahrain - Victorious':['Bahrain - Victorious','Bahrain Merida','Bahrain - McLaren','Bahrain Merida Pro Cycling Team'],
    'EF Education - Nippo':['EF Education - Nippo','Team Garmin - Cervélo','Garmin Sharp','Team Cannondale - Garmin ','Cannondale Pro Cycling Team','Cannondale-Drapac Pro Cycling Team','Team EF Education First-Drapac p/b Cannondale','EF Education First','EF Pro Cycling'],
    'Groupama - FDJ':['Groupama - FDJ','FDJ','FDJ - BigMat','FDJ.fr '],
    'Deceuninck - Quick Step':['Deceuninck - Quick Step','Quickstep Cycling Team','Omega Pharma - Quick-Step','Etixx - Quick Step','Quick-Step Floors'],
    'Team BikeExchange':['Team BikeExchange','ORICA-Scott','Mitchelton-Scott','ORICA-BikeExchange','Orica GreenEDGE'],
    'Intermarché - Wanty - Gobert Matériaux':['Intermarché - Wanty - Gobert Matériaux','Wanty - Gobert Cycling Team','Wanty - Groupe Gobert'],
    'Trek - Segafredo':['Trek - Segafredo','Leopard Trek','RadioShack - Nissan','RadioShack - Leopard','Trek Factory Racing ','RadioShack'],
    'Team Qhubeka NextHash':['Team Qhubeka NextHash','NTT Pro Cycling','Team Dimension Data','MTN - Qhubeka'],
    'B&B Hotels p/b KTM':['B&B Hotels p/b KTM','B&B Hotels - Vital Concept p/b KTM'],
    'Team Arkéa Samsic':['Team Arkéa Samsic','Bretagne - Séché Environnement','Fortuneo - Vital Concept','Fortuneo - Oscaro','Team Fortuneo - Samsic'],
    'Alpecin-Fenix':['Alpecin-Fenix'],
    'Israel Start-Up Nation':['Israel Start-Up Nation'],
    'Team DSM':['Team DSM','Team Sunweb','Team Giant - Alpecin','Team Giant - Shimano','Argos - Shimano','Team Argos - Shimano'],
    'Team TotalEnergies':['Team TotalEnergies','Team Europcar','Direct Energie','Team Total Direct Energie'],
    'Lotto Soudal':['Lotto Soudal','Omega Pharma-Lotto ','Lotto Belisol ', 'Lotto Belisol Team']
}

In [26]:
print(teams_dict['UAE-Team Emirates'][1])

Lampre - ISD

In [27]:
df.head()

,Rank,Prev_rank,Rider_name,Team_name,Points,Time,Year,Weight(kg),Height(m),Age
0,1,1,POGAČAR Tadej,UAE-Team Emirates,500.0,82:56:36,2021,66.0,1.76,23
1,1,1,POGAČAR Tadej,UAE-Team Emirates,500.0,87:20:05,2020,66.0,1.76,22
2,2,2,VINGEGAARD Jonas,Team Jumbo-Visma,380.0,5:205:20,2021,60.0,1.75,25
3,3,3,CARAPAZ Richard,INEOS Grenadiers,340.0,7:037:03,2021,62.0,1.70,28
4,13,13,CARAPAZ Richard,INEOS Grenadiers,170.0,25:5325:53,2020,62.0,1.70,27

stop

In [28]:
for name in team_classes:
    for name_2 in teams_dict[(name)]:
        #print(name_2)
        df.loc[df.Team_name == name_2,name] = 1
        
        #df.loc[df[f'{name_2}'] == name_2,'UAE-Team Emirates'] = 1

In [29]:
df.head()

,Rank,Prev_rank,Rider_name,Team_name,Points,Time,Year,Weight(kg),Height(m),Age,...,Intermarché - Wanty - Gobert Matériaux,Trek - Segafredo,Team Qhubeka NextHash,B&B Hotels p/b KTM,Team Arkéa Samsic,Alpecin-Fenix,Israel Start-Up Nation,Team DSM,Team TotalEnergies,Lotto Soudal
0,1,1,POGAČAR Tadej,UAE-Team Emirates,500.0,82:56:36,2021,66.0,1.76,23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,POGAČAR Tadej,UAE-Team Emirates,500.0,87:20:05,2020,66.0,1.76,22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2,VINGEGAARD Jonas,Team Jumbo-Visma,380.0,5:205:20,2021,60.0,1.75,25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,3,CARAPAZ Richard,INEOS Grenadiers,340.0,7:037:03,2021,62.0,1.70,28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,13,13,CARAPAZ Richard,INEOS Grenadiers,170.0,25:5325:53,2020,62.0,1.70,27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
df[df.Team_name == 'Lotto Soudal']

,Rank,Prev_rank,Rider_name,Team_name,Points,Time,Year,Weight(kg),Height(m),Age,...,Intermarché - Wanty - Gobert Matériaux,Trek - Segafredo,Team Qhubeka NextHash,B&B Hotels p/b KTM,Team Arkéa Samsic,Alpecin-Fenix,Israel Start-Up Nation,Team DSM,Team TotalEnergies,Lotto Soudal
250,65,66,VAN MOER Brent,Lotto Soudal,25.0,2:43:492:43:49,2021,79.0,1.91,23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
314,82,82,DE GENDT Thomas,Lotto Soudal,25.0,3:08:463:08:46,2021,73.0,1.79,35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
315,52,52,DE GENDT Thomas,Lotto Soudal,25.0,2:51:562:51:56,2020,73.0,1.79,34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
316,60,60,DE GENDT Thomas,Lotto Soudal,25.0,2:10:332:10:33,2019,73.0,1.79,33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
317,65,65,DE GENDT Thomas,Lotto Soudal,25.0,2:24:412:24:41,2018,73.0,1.79,32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
318,51,50,DE GENDT Thomas,Lotto Soudal,25.0,2:05:362:05:36,2017,73.0,1.79,31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
319,40,40,DE GENDT Thomas,Lotto Soudal,25.0,1:58:451:58:45,2016,73.0,1.79,30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
320,67,67,DE GENDT Thomas,Lotto Soudal,25.0,2:48:022:48:02,2015,73.0,1.79,29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
325,85,83,SWEENY Harry,Lotto Soudal,25.0,3:10:523:10:52,2021,75.0,1.86,23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
367,99,101,GILBERT Philippe,Lotto Soudal,25.0,3:27:223:27:22,2021,75.0,1.78,39,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
436,149,149,GREIPEL André,Lotto Soudal,25.0,4:02:544:02:54,2017,80.0,1.84,35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
437,133,134,GREIPEL André,Lotto Soudal,25.0,4:09:074:09:07,2016,80.0,1.84,34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
438,134,134,GREIPEL André,Lotto Soudal,25.0,4:03:284:03:28,2015,80.0,1.84,33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
631,59,59,BENOOT Tiesj,Lotto Soudal,25.0,2:07:282:07:28,2019,72.0,1.90,25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
632,20,20,BENOOT Tiesj,Lotto Soudal,100.0,42:0442:04,2017,72.0,1.90,23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
660,98,97,KEUKELEIRE Jens,Lotto Soudal,25.0,3:03:493:03:49,2019,69.0,1.85,31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
766,142,142,DE BUYST Jasper,Lotto Soudal,25.0,5:43:075:43:07,2020,71.0,1.78,27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
767,118,118,DE BUYST Jasper,Lotto Soudal,25.0,3:31:363:31:36,2019,71.0,1.78,26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
768,142,142,DE BUYST Jasper,Lotto Soudal,25.0,4:08:544:08:54,2018,71.0,1.78,25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
769,144,144,EWAN Caleb,Lotto Soudal,25.0,5:50:255:50:25,2020,69.0,1.67,26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
770,132,135,EWAN Caleb,Lotto Soudal,25.0,3:54:343:54:34,2019,69.0,1.67,25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
771,145,145,FRISON Frederik,Lotto Soudal,25.0,6:01:486:01:48,2020,84.0,1.94,28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
772,146,146,KLUGE Roger,Lotto Soudal,25.0,6:07:026:07:02,2020,83.0,1.92,34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
773,150,150,KLUGE Roger,Lotto Soudal,25.0,4:13:434:13:43,2019,83.0,1.92,33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
819,21,21,GALLOPIN Tony,Lotto Soudal,95.0,42:3942:39,2017,69.0,1.80,29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
820,71,71,GALLOPIN Tony,Lotto Soudal,25.0,2:51:232:51:23,2016,69.0,1.80,28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
821,31,31,GALLOPIN Tony,Lotto Soudal,45.0,1:40:441:40:44,2015,69.0,1.80,27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
864,94,94,WELLENS Tim,Lotto Soudal,25.0,3:01:433:01:43,2019,71.0,1.82,28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
865,129,129,WELLENS Tim,Lotto Soudal,25.0,3:59:393:59:39,2015,71.0,1.82,24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
923,142,142,MONFORT Maxime,Lotto Soudal,25.0,4:03:564:03:56,2019,66.0,1.81,36,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
936,123,122,BAK Lars Ytting,Lotto Soudal,25.0,3:37:043:37:04,2017,76.0,1.90,37,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
937,173,174,BAK Lars Ytting,Lotto Soudal,25.0,5:01:185:01:18,2016,76.0,1.90,36,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
938,37,37,BAK Lars Ytting,Lotto Soudal,25.0,1:56:571:56:57,2015,76.0,1.90,35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
948,145,145,DEBUSSCHERE Jens,Lotto Soudal,25.0,4:16:064:16:06,2015,77.0,1.84,26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1039,103,103,MARCZYŃSKI Tomasz,Lotto Soudal,25.0,3:19:103:19:10,2018,70.0,1.80,34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1200,113,113,HANSEN Adam,Lotto Soudal,25.0,3:22:313:22:31,2017,75.0,1.86,36,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1201,100,101,HANSEN Adam,Lotto Soudal,25.0,3:34:263:34:26,2016,75.0,1.86,35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1202,114,114,HANSEN Adam,Lotto Soudal,25.0,3:45:183:45:18,2015,75.0,1.86,34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1235,136,136,ROELANDTS Jürgen,Lotto Soudal,25.0,3:47:203:47:20,2017,78.0,1.84,32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1236,126,127,ROELANDTS Jürgen,Lotto Soudal,25.0,4:05:224:05:22,2016,78.0,1.84,31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1387,155,156,HENDERSON Gregory,Lotto Soudal,25.0,4:29:224:29:22,2016,75.0,1.87,40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1398,169,170,SIEBERG Marcel,Lotto Soudal,25.0,4:40:244:40:24,2016,80.0,1.98,34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1399,150,150,SIEBERG Marcel,Lotto Soudal,25.0,4:24:524:24:52,2015,80.0,1.98,33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1741 entries, 0 to 1740
Data columns (total 33 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Rank                                    1741 non-null   int64
 1   Prev_rank                               1741 non-null   int64
 2   Rider_name                              1741 non-null   object
 3   Team_name                               1741 non-null   object
 4   Points                                  1741 non-null   float64
 5   Time                                    1741 non-null   object
 6   Year                                    1741 non-null   int64
 7   Weight(kg)                              1741 non-null   float64
 8   Height(m)                               1741 non-null   float64
 9   Age                                     1741 non-null   int64
 10  UAE-Team Emirates                       78 non-null     float64
 11  Team Jumbo-Visma                        76 non-null     float64
 12  INEOS Grenadiers                        82 non-null     float64
 13  AG2R Citroën Team                       83 non-null     float64
 14  BORA - hansgrohe                        54 non-null     float64
 15  Movistar Team                           81 non-null     float64
 16  Astana - Premier Tech                   77 non-null     float64
 17  Cofidis, Solutions Crédits              83 non-null     float64
 18  Bahrain - Victorious                    35 non-null     float64
 19  EF Education - Nippo                    86 non-null     float64
 20  Groupama - FDJ                          69 non-null     float64
 21  Deceuninck - Quick Step                 80 non-null     float64
 22  Team BikeExchange                       71 non-null     float64
 23  Intermarché - Wanty - Gobert Matériaux  31 non-null     float64
 24  Trek - Segafredo                        86 non-null     float64
 25  Team Qhubeka NextHash                   44 non-null     float64
 26  B&B Hotels p/b KTM                      13 non-null     float64
 27  Team Arkéa Samsic                       60 non-null     float64
 28  Alpecin-Fenix                           6 non-null      float64
 29  Israel Start-Up Nation                  14 non-null     float64
 30  Team DSM                                71 non-null     float64
 31  Team TotalEnergies                      86 non-null     float64
 32  Lotto Soudal                            72 non-null     float64
dtypes: float64(26), int64(4), object(3)
memory usage: 449.0+ KB

In [32]:
df = df.fillna(0)

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1741 entries, 0 to 1740
Data columns (total 33 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Rank                                    1741 non-null   int64
 1   Prev_rank                               1741 non-null   int64
 2   Rider_name                              1741 non-null   object
 3   Team_name                               1741 non-null   object
 4   Points                                  1741 non-null   float64
 5   Time                                    1741 non-null   object
 6   Year                                    1741 non-null   int64
 7   Weight(kg)                              1741 non-null   float64
 8   Height(m)                               1741 non-null   float64
 9   Age                                     1741 non-null   int64
 10  UAE-Team Emirates                       1741 non-null   float64
 11  Team Jumbo-Visma                        1741 non-null   float64
 12  INEOS Grenadiers                        1741 non-null   float64
 13  AG2R Citroën Team                       1741 non-null   float64
 14  BORA - hansgrohe                        1741 non-null   float64
 15  Movistar Team                           1741 non-null   float64
 16  Astana - Premier Tech                   1741 non-null   float64
 17  Cofidis, Solutions Crédits              1741 non-null   float64
 18  Bahrain - Victorious                    1741 non-null   float64
 19  EF Education - Nippo                    1741 non-null   float64
 20  Groupama - FDJ                          1741 non-null   float64
 21  Deceuninck - Quick Step                 1741 non-null   float64
 22  Team BikeExchange                       1741 non-null   float64
 23  Intermarché - Wanty - Gobert Matériaux  1741 non-null   float64
 24  Trek - Segafredo                        1741 non-null   float64
 25  Team Qhubeka NextHash                   1741 non-null   float64
 26  B&B Hotels p/b KTM                      1741 non-null   float64
 27  Team Arkéa Samsic                       1741 non-null   float64
 28  Alpecin-Fenix                           1741 non-null   float64
 29  Israel Start-Up Nation                  1741 non-null   float64
 30  Team DSM                                1741 non-null   float64
 31  Team TotalEnergies                      1741 non-null   float64
 32  Lotto Soudal                            1741 non-null   float64
dtypes: float64(26), int64(4), object(3)
memory usage: 449.0+ KB

In [39]:
df.loc[:,'UAE-Team Emirates':] = df.loc[:,'UAE-Team Emirates':].astype('int8')

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1741 entries, 0 to 1740
Data columns (total 33 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Rank                                    1741 non-null   int64
 1   Prev_rank                               1741 non-null   int64
 2   Rider_name                              1741 non-null   object
 3   Team_name                               1741 non-null   object
 4   Points                                  1741 non-null   float64
 5   Time                                    1741 non-null   object
 6   Year                                    1741 non-null   int64
 7   Weight(kg)                              1741 non-null   float64
 8   Height(m)                               1741 non-null   float64
 9   Age                                     1741 non-null   int64
 10  UAE-Team Emirates                       1741 non-null   int8
 11  Team Jumbo-Visma                        1741 non-null   int8
 12  INEOS Grenadiers                        1741 non-null   int8
 13  AG2R Citroën Team                       1741 non-null   int8
 14  BORA - hansgrohe                        1741 non-null   int8
 15  Movistar Team                           1741 non-null   int8
 16  Astana - Premier Tech                   1741 non-null   int8
 17  Cofidis, Solutions Crédits              1741 non-null   int8
 18  Bahrain - Victorious                    1741 non-null   int8
 19  EF Education - Nippo                    1741 non-null   int8
 20  Groupama - FDJ                          1741 non-null   int8
 21  Deceuninck - Quick Step                 1741 non-null   int8
 22  Team BikeExchange                       1741 non-null   int8
 23  Intermarché - Wanty - Gobert Matériaux  1741 non-null   int8
 24  Trek - Segafredo                        1741 non-null   int8
 25  Team Qhubeka NextHash                   1741 non-null   int8
 26  B&B Hotels p/b KTM                      1741 non-null   int8
 27  Team Arkéa Samsic                       1741 non-null   int8
 28  Alpecin-Fenix                           1741 non-null   int8
 29  Israel Start-Up Nation                  1741 non-null   int8
 30  Team DSM                                1741 non-null   int8
 31  Team TotalEnergies                      1741 non-null   int8
 32  Lotto Soudal                            1741 non-null   int8
dtypes: float64(3), int64(4), int8(23), object(3)
memory usage: 175.2+ KB

In [36]:
df.head()

,Rank,Prev_rank,Rider_name,Team_name,Points,Time,Year,Weight(kg),Height(m),Age,...,Intermarché - Wanty - Gobert Matériaux,Trek - Segafredo,Team Qhubeka NextHash,B&B Hotels p/b KTM,Team Arkéa Samsic,Alpecin-Fenix,Israel Start-Up Nation,Team DSM,Team TotalEnergies,Lotto Soudal
0,1,1,POGAČAR Tadej,UAE-Team Emirates,500.0,82:56:36,2021,66.0,1.76,23,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,1,POGAČAR Tadej,UAE-Team Emirates,500.0,87:20:05,2020,66.0,1.76,22,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,2,VINGEGAARD Jonas,Team Jumbo-Visma,380.0,5:205:20,2021,60.0,1.75,25,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,3,CARAPAZ Richard,INEOS Grenadiers,340.0,7:037:03,2021,62.0,1.70,28,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,13,13,CARAPAZ Richard,INEOS Grenadiers,170.0,25:5325:53,2020,62.0,1.70,27,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Since dummy variables requires dropping a row anyways, I will simply not create a dummy variable for the list OLD as it contains all the teams classed together as not competing in 2021.