## Raminderpreet Singh Khaira
### 30/06/2022

One of the things I took a notice of is the fact that team go through different names regularly as sponships change. So a team can be named "Sky Procycling" from 2011-2013, and then change to "Team Sky" from 2014-2019, and then "Team Ineos" from 2019-2020. All the same teams effectively with similar strategies, management, and collection of data and experience, but filed under different names in our classification model.

In this Notebook I investigate into the names of the 2021 teams, and change the previous names appropriately to the most current team name. This should improve the number of wins per team, and won't leave a newely named team as fresh first time team.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('TDF_GC_with_rider_metrics.csv')

In [3]:
df.head()

,Rank,Prev_rank,Rider_name,Team_name,Points,Time,Year,Weight(kg),Height(m),Age
0,1,1,POGAČAR Tadej,UAE-Team Emirates,500.0,82:56:36,2021,66.0,1.76,23
1,1,1,POGAČAR Tadej,UAE-Team Emirates,500.0,87:20:05,2020,66.0,1.76,22
2,2,2,VINGEGAARD Jonas,Team Jumbo-Visma,380.0,5:205:20,2021,60.0,1.75,25
3,3,3,CARAPAZ Richard,INEOS Grenadiers,340.0,7:037:03,2021,62.0,1.70,28
4,13,13,CARAPAZ Richard,INEOS Grenadiers,170.0,25:5325:53,2020,62.0,1.70,27

In [4]:
df.shape

(1741, 10)

In [5]:
df.Team_name.nunique()

103

In [6]:
df.Team_name.value_counts()

Movistar Team                 81
AG2R La Mondiale              76
Cofidis, Solutions Crédits    67
Astana Pro Team               64
BMC Racing Team               63
                              ..
Team DSM                       5
RadioShack                     5
Team BikeExchange              5
Team Qhubeka NextHash          5
NTT Pro Cycling                5
Name: Team_name, Length: 103, dtype: int64

In [7]:
df[df.Year == 2021].Team_name.value_counts()

Cofidis, Solutions Crédits                8
UAE-Team Emirates                         8
EF Education - Nippo                      8
Deceuninck - Quick Step                   8
Trek - Segafredo                          7
INEOS Grenadiers                          7
BORA - hansgrohe                          7
Team TotalEnergies                        7
AG2R Citroën Team                         7
Bahrain - Victorious                      7
Israel Start-Up Nation                    7
B&B Hotels p/b KTM                        6
Movistar Team                             6
Alpecin-Fenix                             6
Intermarché - Wanty - Gobert Matériaux    6
Astana - Premier Tech                     6
Team DSM                                  5
Team Qhubeka NextHash                     5
Team BikeExchange                         5
Lotto Soudal                              4
Team Jumbo-Visma                          4
Groupama - FDJ                            4
Team Arkéa Samsic                         3
Name: Team_name, dtype: int64

In [8]:
df.Year.min()

2011

- 'UAE-Team Emirates' = ['Lampre–ISD','Lampre–Merida','UAE Abu Dhabi']
- 'Deceuninck - Quick Step' = ['Quick-Step','Omega Pharma–Quick-Step','Etixx–Quick-Step','Quick-Step Floors']
- 'EF Education - Nippo' = ['	Team Garmin−Cervélo','Team Garmin−Barracuda','Garmin−Sharp','Team Cannondale−Garmin','Cannondale Pro Cycling Team','Cannondale–Drapac Pro Cycling Team','Team EF Education First–Drapac p/b Cannondale','EF Education First Pro Cycling','EF Pro Cycling']
- 'Cofidis, Solutions Crédits' = Same name
- 'BORA - hansgrohe' = ['Team NetApp','Team NetApp–Endura','Bora–Argon 18']
- 'Bahrain - Victorious' = ['Bahrain–Merida','Bahrain–McLaren']
- 'Trek - Segafredo' = ['Leopard Trek','RadioShack–Nissan','RadioShack–Leopard','Trek Factory Racing']
- 'INEOS Grenadiers' = ['Sky Procycling','Team Sky','Team Ineos']
- 'AG2R Citroën Team' = ['Ag2r–La Mondiale','AG2R La Mondiale']
- 'Team TotalEnergies' = ['Team Europcar','Direct Énergie','Total Direct Énergie']
- 'Israel Start-Up Nation' = ['Cycling Academy Team','Israel Cycling Academy']
- 'Intermarché - Wanty - Gobert Matériaux' = ["Veranda's Willems–Accent",'Accent.jobs–Willems Verandas','Accent Jobs–Wanty','Wanty–Groupe Gobert','Wanty–Gobert','Circus–Wanty Gobert']
- 'Astana - Premier Tech' = ['Astana Pro Team']
- 'Alpecin-Fenix' = ['BKCP–Powerplus','BKCP–Corendon','Beobank–Corendon','Corendon–Circus']
- 'B&B Hotels p/b KTM' = ['Vital Concept','Vital Concept–B&B Hotels','B&B Hotels–Vital Concept']
- 'Movistar Team' = Same name since 2011
- 'Team DSM' = ['Skil Shimano','Project 1t4i','Argos–Shimano','Giant–Shimano','Team Giant–Alpecin','Team Sunweb']
- 'Team Qhubeka NextHash' = ['MTN–Qhubeka','Team Dimension Data for Qhubeka','NTT Pro Cycling','Team Qhubeka Assos']
- 'Team BikeExchange'
- 'Groupama - FDJ' = ['FDJ','FDJ–BigMat','FDJ.fr']
- 'Lotto Soudal' = ['Omega Pharma–Lotto','Lotto–Belisol']
- 'Team Jumbo-Visma' = ['Rabobank','Blanco','Belkin','LottoNL–Jumbo','Team LottoNL-Jumbo']
- 'Team Arkéa Samsic' = ['Bretagne–Schuller','Bretagne–Séché Environnement','Fortuneo–Vital Concept','Fortuneo–Oscaro','Fortuneo–Samsic']

In [9]:
list_1 = ('UAE-Team Emirates','Lampre - ISD','Lampre - Merida','UAE Team Emirates',
          'Team Jumbo-Visma','Rabobank Cycling Team','Belkin-Pro Cycling Team','Team LottoNL-Jumbo',
          'INEOS Grenadiers','Sky Procycling','Team Sky','Team INEOS',
          'AG2R Citroën Team','AG2R La Mondiale',
          'BORA - hansgrohe','Team NetApp – Endura','Bora - Argon 18',
          'Movistar Team',
          'Astana - Premier Tech','Astana Pro Team','Pro Team Astana',
          'Cofidis, Solutions Crédits','Cofidis, le Crédit en Ligne',
          'Bahrain - Victorious','Bahrain Merida','Bahrain - McLaren','Bahrain Merida Pro Cycling Team',
          'EF Education - Nippo','Team Garmin - Cervélo','Garmin Sharp','Team Cannondale - Garmin ','Cannondale Pro Cycling Team','Cannondale-Drapac Pro Cycling Team','Team EF Education First-Drapac p/b Cannondale','EF Education First','EF Pro Cycling',
          'Groupama - FDJ','FDJ','FDJ - BigMat','FDJ.fr ',
          'Deceuninck - Quick Step','Quickstep Cycling Team','Omega Pharma - Quick-Step','Etixx - Quick Step','Quick-Step Floors',
          'Team BikeExchange','ORICA-Scott','Mitchelton-Scott','ORICA-BikeExchange','Orica GreenEDGE',
          'Intermarché - Wanty - Gobert Matériaux','Wanty - Gobert Cycling Team','Wanty - Groupe Gobert',
          'Trek - Segafredo','Leopard Trek','RadioShack - Nissan','RadioShack - Leopard','Trek Factory Racing ','RadioShack',
          'Team Qhubeka NextHash','NTT Pro Cycling','Team Dimension Data','MTN - Qhubeka',
          'B&B Hotels p/b KTM','B&B Hotels - Vital Concept p/b KTM',
          'Team Arkéa Samsic','Bretagne - Séché Environnement','Fortuneo - Vital Concept','Fortuneo - Oscaro','Team Fortuneo - Samsic',
          'Alpecin-Fenix',
          'Israel Start-Up Nation',
          'Team DSM','Team Sunweb','Team Giant - Alpecin','Team Giant - Shimano','Argos - Shimano','Team Argos - Shimano',
          'Team TotalEnergies','Team Europcar','Direct Energie','Team Total Direct Energie',
          'Lotto Soudal','Omega Pharma-Lotto ','Lotto Belisol ', 'Lotto Belisol Team',
          
          'Vacansoleil - DCM',
          'Euskaltel - Euskadi',
          'Tinkoff','Tinkoff - Saxo','Team Saxo Bank - Tinkoff Bank','Team Saxo - Tinkoff','Saxo Bank - Sungard',
          'CCC Team','BMC Racing Team',
          'Team Katusha Alpecin','Team Katusha ',
          'Saur - Sojasun','Sojasun',
          'IAM Cycling',
          'Cannondale ','Liquigas - Cannondale',
          'HTC - High Road')

In [10]:
df[~df.Team_name.isin(list_1)]

Empty DataFrame
Columns: [Rank, Prev_rank, Rider_name, Team_name, Points, Time, Year, Weight(kg), Height(m), Age]
Index: []

In [11]:
list_2 = df.Team_name.tolist()

In [12]:
c=[]
for num in list_1:
    if num not in list_2:
        c.append(num)
print(c)

[]

In [13]:
df.iloc[59,3]

'Trek Factory Racing '

In [14]:
df.iloc[150,3]

'Team Cannondale - Garmin '

In [15]:
df.iloc[370,3]

'Omega Pharma-Lotto '

In [16]:
df.iloc[439,3]

'Lotto Belisol '

In [17]:
df.iloc[448,3]

'Team Katusha '

In [18]:
df.iloc[550,3]

'FDJ.fr '

In [19]:
df.iloc[654,3]

'Cannondale '

In [20]:
df.iloc[1371,3]

'Team Garmin - Cervélo'

In [21]:
len(list_1) == df.Team_name.nunique()

True

## Convert previous team names to most current name
### Additional classes: 
- new_team for teams that have no history in the TDF
- past team for teams that are not competing in the latest Tour De France, but have history

In [22]:
df[df.Year == 2021].Team_name.unique()

array(['UAE-Team Emirates', 'Team Jumbo-Visma', 'INEOS Grenadiers',
       'AG2R Citroën Team', 'BORA - hansgrohe', 'Movistar Team',
       'Astana - Premier Tech', 'Cofidis, Solutions Crédits',
       'Bahrain - Victorious', 'EF Education - Nippo', 'Groupama - FDJ',
       'Deceuninck - Quick Step', 'Team BikeExchange',
       'Intermarché - Wanty - Gobert Matériaux', 'Trek - Segafredo',
       'Team Qhubeka NextHash', 'B&B Hotels p/b KTM', 'Team Arkéa Samsic',
       'Alpecin-Fenix', 'Israel Start-Up Nation', 'Team DSM',
       'Team TotalEnergies', 'Lotto Soudal'], dtype=object)

In [23]:
UAE = ('UAE-Team Emirates','Lampre - ISD','Lampre - Merida','UAE Team Emirates')
TJV = ('Team Jumbo-Visma','Rabobank Cycling Team','Belkin-Pro Cycling Team','Team LottoNL-Jumbo')
IGD = ('INEOS Grenadiers','Sky Procycling','Team Sky','Team INEOS')
ACT = ('AG2R Citroën Team','AG2R La Mondiale')
BOR = ('BORA - hansgrohe','Team NetApp – Endura','Bora - Argon 18')
MOV = ('Movistar Team')
APT = ('Astana - Premier Tech','Astana Pro Team','Pro Team Astana')
CSC = ('Cofidis, Solutions Crédits','Cofidis, le Crédit en Ligne')
BHV = ('Bahrain - Victorious','Bahrain Merida','Bahrain - McLaren','Bahrain Merida Pro Cycling Team')
EFN = ('EF Education - Nippo','Team Garmin - Cervélo','Garmin Sharp','Team Cannondale - Garmin ','Cannondale Pro Cycling Team','Cannondale-Drapac Pro Cycling Team','Team EF Education First-Drapac p/b Cannondale','EF Education First','EF Pro Cycling')
GFDJ = ('Groupama - FDJ','FDJ','FDJ - BigMat','FDJ.fr ')
DQS = ('Deceuninck - Quick Step','Quickstep Cycling Team','Omega Pharma - Quick-Step','Etixx - Quick Step','Quick-Step Floors')
TBE = ('Team BikeExchange','ORICA-Scott','Mitchelton-Scott','ORICA-BikeExchange','Orica GreenEDGE')
IWGM = ('Intermarché - Wanty - Gobert Matériaux','Wanty - Gobert Cycling Team','Wanty - Groupe Gobert')
TSF = ('Trek - Segafredo','Leopard Trek','RadioShack - Nissan','RadioShack - Leopard','Trek Factory Racing ','RadioShack')
TQNH = ('Team Qhubeka NextHash','NTT Pro Cycling','Team Dimension Data','MTN - Qhubeka')
KTM = ('B&B Hotels p/b KTM','B&B Hotels - Vital Concept p/b KTM')
TAS = ('Team Arkéa Samsic','Bretagne - Séché Environnement','Fortuneo - Vital Concept','Fortuneo - Oscaro','Team Fortuneo - Samsic')
ALP = ('Alpecin-Fenix')
ISN = ('Israel Start-Up Nation')
TDSM = ('Team DSM','Team Sunweb','Team Giant - Alpecin','Team Giant - Shimano','Argos - Shimano','Team Argos - Shimano')
TTE = ('Team TotalEnergies','Team Europcar','Direct Energie','Team Total Direct Energie')
LOT = ('Lotto Soudal','Omega Pharma-Lotto ','Lotto Belisol ', 'Lotto Belisol Team')
OLD = ('Vacansoleil - DCM','Tinkoff','Tinkoff - Saxo','Team Saxo Bank - Tinkoff Bank','Team Saxo - Tinkoff','Saxo Bank - Sungard','BMC Racing Team','CCC Team','Team Katusha Alpecin','Team Katusha ','Saur - Sojasun','Sojasun','IAM Cycling','Cannondale ','Liquigas - Cannondale','HTC - High Road')

In [99]:
teams = ('UAE','TJV','IGD','ACT','BOR','MOV','APT','CSC','BHV','EFN','GFDJ','DQS','TBE','IWGM','TSF','TQNH','KTM','TAS','ALP','ISN','TDSM','TTE','LOT')

Since dummy variables requires dropping a row anyways, I will simply not create a dummy variable for the list OLD as it contains all the teams classed together as not competing in 2021.

In [100]:
for x in range(len(teams)):
    print(teams[x])

UAE
TJV
IGD
ACT
BOR
MOV
APT
CSC
BHV
EFN
GFDJ
DQS
TBE
IWGM
TSF
TQNH
KTM
TAS
ALP
ISN
TDSM
TTE
LOT

In [115]:
for a in range(len(teams)):
    print(teams[a])
    for b in range(len(f'{teams[a]}')):
        print(f'{teams[a][b]}')

UAE
U
A
E
TJV
T
J
V
IGD
I
G
D
ACT
A
C
T
BOR
B
O
R
MOV
M
O
V
APT
A
P
T
CSC
C
S
C
BHV
B
H
V
EFN
E
F
N
GFDJ
G
F
D
J
DQS
D
Q
S
TBE
T
B
E
IWGM
I
W
G
M
TSF
T
S
F
TQNH
T
Q
N
H
KTM
K
T
M
TAS
T
A
S
ALP
A
L
P
ISN
I
S
N
TDSM
T
D
S
M
TTE
T
T
E
LOT
L
O
T

In [24]:
df.Team_name.isin(UAE)

0        True
1        True
2       False
3       False
4       False
        ...
1736    False
1737    False
1738    False
1739     True
1740    False
Name: Team_name, Length: 1741, dtype: bool

In [92]:
for i in range(len(UAE)):
    print(UAE[i])
    df.loc[df.Team_name == (UAE[i]),'UAE-Team Emirates'] = 1

UAE-Team Emirates
Lampre - ISD
Lampre - Merida
UAE Team Emirates

In [98]:
df[df.Team_name.isin(UAE)]

,Rank,Prev_rank,Rider_name,Team_name,Points,Time,Year,Weight(kg),Height(m),Age,UAE-Team Emirates
0,1,1,POGAČAR Tadej,UAE-Team Emirates,500.0,82:56:36,2021,66.0,1.76,23,1
1,1,1,POGAČAR Tadej,UAE-Team Emirates,500.0,87:20:05,2020,66.0,1.76,22,1
39,8,8,MEINTJES Louis,UAE Team Emirates,220.0,8:208:20,2017,58.0,1.73,25,1
40,8,8,MEINTJES Louis,Lampre - Merida,220.0,",,6:58",2016,58.0,1.73,24,1
64,47,47,HENAO Sergio,UAE-Team Emirates,25.0,1:52:371:52:37,2019,61.0,1.70,32,1
...,...,...,...,...,...,...,...,...,...,...,...
1668,80,79,MARZANO Marco,Lampre - ISD,25.0,2:24:462:24:46,2012,58.0,1.71,32,1
1670,86,86,HONDO Danilo,Lampre - ISD,25.0,2:37:552:37:55,2012,73.0,1.84,38,1
1671,109,109,HONDO Danilo,Lampre - ISD,25.0,",,2:55:25",2011,73.0,1.84,37,1
1710,59,59,LOOSLI David,Lampre - ISD,25.0,1:51:081:51:08,2011,71.0,1.82,31,1
1739,153,153,KOSTYUK Denys,Lampre - ISD,25.0,3:31:423:31:42,2011,66.0,1.76,29,1

In [61]:
index = []
for i in UAE:
    if df.Team_name is i:
        index.append(df.index_value)

In [45]:
df['UAE-Team Emirates'].value_counts()

0    1733
1       8
Name: UAE-Team Emirates, dtype: int64

In [46]:
df[df['UAE-Team Emirates'] == 1]

,Rank,Prev_rank,Rider_name,Team_name,Points,Time,Year,Weight(kg),Height(m),Age,UAE-Team Emirates
39,8,8,MEINTJES Louis,UAE Team Emirates,220.0,8:208:20,2017,58.0,1.73,25,1
399,127,127,LAENGEN Vegard Stake,UAE Team Emirates,25.0,3:41:523:41:52,2017,79.0,1.95,28,1
709,96,98,MARCATO Marco,UAE Team Emirates,25.0,3:05:533:05:53,2017,67.0,1.74,33,1
977,50,51,ĐURASEK Kristijan,UAE Team Emirates,25.0,2:04:532:04:53,2017,58.0,1.70,30,1
1010,41,41,ATAPUMA Darwin,UAE Team Emirates,25.0,1:50:311:50:31,2017,59.0,1.68,29,1
1122,39,39,ULISSI Diego,UAE Team Emirates,25.0,1:45:231:45:23,2017,63.0,1.75,28,1
1159,83,83,SWIFT Ben,UAE Team Emirates,25.0,2:54:482:54:48,2017,69.0,1.79,30,1
1192,111,110,BONO Matteo,UAE Team Emirates,25.0,3:20:593:20:59,2017,60.0,1.71,34,1